body {
  background: #fadcd9;
  margin: 0;
  font-family: 'Gilroy', sans-serif;
}
.slogan-intro {
  width: 565px;
  height: 479px;
  border-radius: 20px;
  background: #fadcd9;
  position: relative;
  margin: 40px auto;
  box-sizing: border-box;
  overflow: hidden;
}
.intro-title {
  position: absolute;
  left: 24px;
  top: 225px;
  width: 475px;
  height: 168px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1em;
  color: #000;
  margin: 0;
  text-align: left;
}
.flower-icon {
  position: absolute;
  left: 416px;
  top: 34px;
  width: 119px;
  height: 119px;
}
